* {
    box-sizing: border-box;
}

/* Corps de la page */
body {
    font-family: 'Raleway', sans-serif;
    max-width: 1400px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

/* Entête de la page */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 100px;
    padding-top: 8px;
    padding-left: 15px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header nav ul a {
    text-decoration: none;
    display: inline-block;
    color: black;
    padding: 20px;
    padding-top: 40px;
}

header nav a {
    border-top: 3px solid white;
}

header nav a:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

/* Contenu principal */
/* Slogan */
h1 {
    font-size: 22px;
    font-weight: 700;
    padding-top: 30px;
    padding-left: 15px;
}

.slogan p {
    padding-left: 15px;
}

/* Partie recherche */
::placeholder {
    font-size: 15px;
    font-weight: 700;
    color: black;
    text-indent: 10px;
}

#search_input {
    width: 240px;
    border: 1px solid #F2F2F2
}

#search {
    display: flex;
    height: 45px;
    margin-top: 15px;
}

#button_search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: #0065fc;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

#search_button_glass {
    display: none;
    color: white;
    background-color: #0065FC;
    font-size: 16px;
    font-weight: 700;
    border-radius: 0 15px 15px 0;
    width: 60px;
    height: 45px;
    padding: 15px 16px 15px 16px;
    gap: 10px;
}

#icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
    margin-left: 15px;
}

/* Partie filtres */
#filters {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

#filters p {
    font-weight: 700;
    padding-left: 15px;
}

#filters ul {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

#filters li {
    display: flex;
    align-items: center;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
}

#filters a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    padding: 8px;
    padding-right: 20px;
}

.icons {
    text-align: center;
    width: 40px;
    height: 15px;
    color: #0065FC;
}

#filters li:hover {
    background-color: #DEEBFF;
}

/* Partie info */
.info {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.fa-solid.fa-info {
    font-size: 12px;
    color: #0065FC;
    border: solid 1px #D9D9D9;
    border-radius: 50px;
    padding: 5px 8px;
}

#info {
    padding-left: 10px;
}

/* Partie hébergements */
.bloc-hebergements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards-h h2 {
    font-size: 22px;
    font-weight: 700;
}

.cards-h {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 66%;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-top: 21px;
    margin-left: 15px;
    padding: 10px 30px;
}

.cards-h img {
    width: 100%;
    height: 60%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.cards-h .part-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -20px;
}

.cards-h .part-1 a {
    text-decoration: none;
    width: 30%;
}

.cards-h article h3 {
    font-size: 16px;
    margin-left: 1px;
    margin-bottom: 3px;
    padding-left: 10px;
}

.cards-h article p {
    font-size: 14px;
    margin-left: 12px;
}

.stars-h {
    display: flex;
    font-size: 12px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.stars-h .blue {
    color: #0065FC;
}

.stars-h .grey {
    color: #F2F2F2;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 230px;
    color: black;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 4px solid white;
    border-radius: 20px;
    line-height: 0.5;
    margin-top: 25px;
}

.container:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
    transition: 0.3s;
}

.show-more {
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 16px;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 20px;
}

/* Partie les plus populaires */
.bloc-popular {
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 15px;
    padding-bottom: 5px;
}

.bloc-popular .title-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    padding-left: 30px;
}

.bloc-popular .title,
h2 {
    font-size: 22px;
}

.fa-solid.fa-chart-line {
    color: #0065FC;
    padding-right: 30px;
}

.cards-p {
    width: 87%;
    height: 158px;
    display: flex;
    color: black;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 4px solid white;
    border-radius: 20px;
    margin: 20px;
    margin-top: 8px;
    margin-left: 25px;
}

.cards-p img {
    width: 40%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.cards-p:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
    transition: 0.3s;
}

a {
    text-decoration: none;
}

.part-2 {
    display: flex;
    flex-direction: column;
}

.part-2 a {
    width: 100%;
}

.part-2 .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
}

.part-2 h3 {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.part-2 p {
    display: flex;
    font-size: 14px;
}

.stars-p {
    display: flex;
    margin-bottom: 5px;
}

.stars-p .blue {
    color: #0065FC;
    font-size: 12px;
}

.stars-p .grey {
    font-size: 12px;
    color: #F2F2F2;
}

/* Partie activités */
#bloc-activites {
    margin-bottom: 30px;
    padding-left: 20px;
}

#bloc-activites h2 {
    margin-top: 50px;
}

#bloc-activites h3 {
    height: 40px;
    margin-top: 10px;
    padding-left: 15px;
}

#bloc-activites a:hover {
    transform: scale(1.03);
    transition: 0.5s;
}

.part-3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.part-3 a {
    width: 23%;
}

.cards-a {
    color: black;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0,  0.2);    
}

.cards-a img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

/* Bas de la page */
footer {
    display: flex;
    justify-content: space-between;
    height: 180px;
    background-color: #F2F2F2;
    margin-left: 20px;
    padding-top: 15px;
}

footer div {
    width: 35%;
    padding-left: 70px;
}

footer h3 {
    font-size: 18px;
}

footer p a {
    font-size: 16px;
    font-weight: 400;
    color: black;
    line-height: 1;
    padding: 0;
    /* pour enlever l'indentation par défaut */
}

/* MEDIA QUERIES */
/* Tablette */
@media screen and (max-width: 991px) {

    body {
        padding-right: 20px;
    }

    /***Partie hébergements***/
    .cards-h {
        width: 100%;
    }

    .container {
        height: 199px;
    }

    /***Partie les plus populaires***/
    .bloc-popular {
        width: 100%;
        height: 280px;
        margin-top: 40px;
    }

    .cards-p {
        width: 84%;
        height: 144px;
    }

    .part-2 {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    /***Partie activités***/
    #bloc-activites h3 {
        height: 50px;
    }

    .cards-a img {
        height: 265px;
    }

    /***Bas de la page***/
    footer {
        margin-top: 60px;
        margin-left: 20px;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {

    body {
        padding: 0;
    }

    /***Entête de la page***/
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 25px;
    }

    header img {
        width: 25%;
        margin-left: 120px;
    }

    header nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    header nav ul {
        width: 100%;
    }

    header nav ul li {
        width: 100%;
    }

    header nav ul a {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 60px 30px 40px;
    }

    header nav a:hover {
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }

    /***Slogan***/
    .slogan {
        padding-right: 20px;
        padding-left: 20px;
    }

    /***Partie recherche***/
    #search {
        margin-top: 30px;
    }

    #search_input {
        width: 100%;
    }

    #icon {
        width: 20%;
    }

    #search_button_glass {
        display: inline-block;
    }

    #search_button_glass:hover {
        cursor: pointer;
    }

    #button_search {
        display: none;
    }

    /***Partie filtres***/
    #filters {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
    }

    #filters p {
        padding-left: 40px;
    }

    #filters a {
        font-size: 10px;
        padding: 0;
    }

    #filters ul {
        width: 100%;
        margin-top: -5px;
        gap: 15px;
    }

    #filters li {
        width: 40%;
        height: 40px;
        padding-left: 5px;
    }

    .icons {
        width: 25%;
        margin-left: -5px;
    }

    /***Partie info***/
    .info {
        padding-left: 20px;
    }

    #info {
        font-size: 14px;
    }

    /***Partie les plus populaires***/
    .bloc-popular {
        width: 100%;
        height: 620px;
        border-radius: unset;
        margin-top: 20px;
        margin-left: 0;
    }

    .part-2 {
        display: flex;
        flex-direction: column;
    }

    .cards-p {
        width: 90%;
        height: 144px;
        margin-top: 8px;
    }

    /***Partie hébergements***/
    .bloc-hebergements {
        flex-direction: column-reverse;
    }

    .cards-h {
        width: 100%;
        background-color: unset;
        margin: 0;
        margin-top: 5px;
        padding-right: 10px;
        padding-left: 25px;
    }

    .cards-h img {
        height: 100px;
    }

    .cards-h .part-1 {
        display: inline-block;
        width: 100%;
        margin-top: -25px;
    }

    .container {
        height: 199px;
        margin-top: 15px;
    }

    .show-more {
        display: none;
    }

    /***Partie activités***/

    #bloc-activites {
        margin: 0;
    }

    #bloc-activites h3 {
        font-size: 16px;
        margin-top: 15px;
    }

    .part-3 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: -10px;
    }

    .part-3 a {
        width: 97%;
    }

    .cards-a {
        height: 190px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .cards-a img {
        height: 130px;
    }

    /***Bas de la page***/
    footer {
        display: inline-block;
        width: 100%;
        height: 620px;
        margin-top: 70px;
        margin-left: 0;
    }

    footer div {
        width: auto;
        padding: 20px 20px 0 40px;
    }

    footer h3 {
        margin-bottom: 30px;
    }
}